name: Build and test

on:
  push:
    branches: "**"
  pull_request:
    branches: "**"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        # - name: Ubuntu
        #   os: ubuntu-latest

        - name: macOS
          os: macos-latest

    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v3

    # - run: sudo apt install ninja-build
    - uses: seanmiddleditch/gha-setup-ninja@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G Ninja

    - name: Build
      run: cmake --build ${{github.workspace}}/build --parallel

    - name: Test
      working-directory: ${{github.workspace}}/build/test
      run: ctest

